Repository 7v-ga/posverdad.dev.2.0, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, fe-p1, docs, config, scripts, scraping

FE P1: Bulk entities (mock + feature flag)
  .github/workflows/autolabel.yml
Labels: config

FE P1: Bulk entities (mock + feature flag) (#39)
  .github/workflows/autolabel.yml
Labels: config

FE P1: Bulk entities (mock + feature flag) (#39) (#40)
  .github/workflows/autolabel.yml
Labels: config

feat(frontend): RoleBadge (admin/read) reutilizable
  frontend/src/components/RoleBadge.tsx
Labels: area/frontend

FE P1: URL-driven filters (searchParams + hydrate + pageSize persist)
  frontend/src/styles/globals.css
Labels: area/frontend

WIP: ajustes locales antes de rebase
  frontend/README.md
  frontend/src/app/api/articles/route.ts
  frontend/src/app/articles/components/ArticlesTable.tsx
  frontend/src/env.d.ts
  frontend/src/store/articles-store.ts
  pr_bodies/PR_01_adr_arquitectura.md
  pr_bodies/PR_02_monorepo_estructura.md
  pr_bodies/PR_03_openapi_fastapi_articles.md
  pr_bodies/PR_04_db_normalizado_vistas.md
  pr_bodies/PR_07_tabla_server_side.md
  pr_bodies/PR_09_entities_single_edit.md
  pr_bodies/PR_10_entities_bulk_ops.md
  pr_bodies/PR_11_audit_log.md
  pr_bodies/PR_12_ui_roles_guard.md
  pr_bodies/PR_15_slack_notificaciones.md
  pr_bodies/PR_16_dashboard_basico.md
  pr_bodies/PR_18_fulltext_tsvector.md
  pr_bodies/PR_20_data_quality_preinsert.md
  pr_bodies/PR_21_cursor_pagination.md
  pr_bodies/PR_22_accesibilidad_a11y.md
  pr_bodies/PR_23_dashboards_avanzados.md
  pr_bodies/PR_24_cache_redis.md
  pr_bodies/PR_25_hardening_seguridad.md
  pr_bodies/PR_26_infra_as_code.md
  pr_bodies/PR_27_observabilidad.md
  pr_bodies/PR_28_docs_runbooks.md
  pr_bodies/PR_29_qa_e2e_smoke.md
  pr_bodies/PR_30_role_badge.md
  pr_bodies/PR_31_seed_dev_fuentes.md
  scripts/push_pr_bodies.sh
Labels: area/frontend, fe-p1, docs, scripts

feat(frontend): add RoleBadge (admin/read)
  frontend/src/components/RoleBadge.tsx
Labels: area/frontend

.github/labeler.yml:

area/frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'frontend/**'

fe-p1:
  - changed-files:
      - any-glob-to-any-file:
          - 'frontend/src/app/articles/**'
          - 'frontend/src/lib/**'
          - 'frontend/src/store/**'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - 'docs/**'

config:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - '**/*.yml'
          - '**/*.yaml'

scripts:
  - changed-files:
      - any-glob-to-any-file:
          - 'scripts/**'

scraping:
  - changed-files:
      - any-glob-to-any-file:
          - 'scrapy_project/**'
